@keyframes header-bg {
  0% {
    opacity: 0;
  }

  5%,
  15% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  25%,
  35% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  45%,
  55% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  65%,
  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  85%,
  100% {
    opacity: 1;
  }
}

@keyframes black-cube-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anim-block {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes devil-img {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes image-big {

  0%,
  100% {
    transform: scale(1) translate(0, 0) rotate(0deg);
  }

  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80% {
    transform: scale(1.4) translate(0px, 0px) rotate(0deg);
  }

  25%,
  45%,
  65%,
  85% {
    transform: scale(1.4) translate(-5px, -5px) rotate(-5deg);
  }

  35%,
  55%,
  75% {
    transform: scale(1.4) translate(5px, 5px) rotate(5deg);
  }

  90% {
    transform: scale(1.3) translate(0px, 0px) rotate(0deg);
  }
}

@keyframes devil-move {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }

  10% {
    transform: translate(100px, 50px) rotate(-10deg) scale(1.02);
  }

  20% {
    transform: translate(200px, 0px) rotate(5deg) scale(0.90);
  }

  30% {
    transform: translate(250px, -80px) rotate(-20deg) scale(1.1);
  }

  40% {
    transform: translate(300px, -150px) rotate(0deg) scale(1);
  }

  50% {
    transform: translate(320px, -80px) rotate(15deg) scale(1.2);
  }

  60% {
    transform: translate(250px, -20px) rotate(0deg) scale(0.9);
  }

  70% {
    transform: translate(180px, 20px) rotate(-5deg) scale(1);
  }

  80% {
    transform: translate(100px, 50px) rotate(0deg) scale(1);
  }

  90% {
    transform: translate(50px, 30px) rotate(4deg) scale(1);
  }

  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes title {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes smileHover {
  0% {
    transform: scale(1) rotate(0);
  }

  20% {
    transform: scale(1.1) rotate(0);
  }

  40% {
    transform: scale(1.1) rotate(10deg);
  }

  60% {
    transform: scale(1.1) rotate(-10deg);
  }

  80% {
    transform: scale(1.1) rotate(0);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes figmaRuler {

  0% {
    background-color: $color-figma-ruler;
    width: 40px;
    transform: translate(0, -50%);
  }

  16% {
    background-color: $color-figma-ruler;
    width: 60px;
    transform: translate(0, -50%);
  }

  25% {
    background-color: $color-figma-line;
    width: 283px;
    transform: translate(60px, 32px);
  }

  33% {
    background-color: $color-figma-line;
    width: 283px;
    transform: translate(60px, 32px);
  }

  50% {
    background-color: $color-figma-line;
    width: 283px;
    transform: translate(60px, 30px);
  }

  67% {
    background-color: $color-figma-line;
    width: 283px;
    transform: translate(60px, 32px);
  }

  75% {
    background-color: $color-figma-line;
    width: 283px;
    transform: translate(60px, 32px);
  }

  84% {
    background-color: $color-figma-ruler;
    width: 60px;
    transform: translate(0, -50%);
  }

  100% {
    background-color: $color-figma-ruler;
    width: 40px;
    transform: translate(0, -50%);
  }
}

@keyframes figmaLine {

  0% {
    background-color: $color-figma-line;
    height: 72px;
    transform: translate(0, -50%);
  }

  16% {
    background-color: $color-figma-line;
    height: 72px;
    transform: translate(20px, -50%);
  }

  25% {
    background-color: $color-figma-ruler;
    height: 34px;
    transform: translate(142px, 33px);
  }

  33% {
    background-color: $color-figma-ruler;
    height: 34px;
    transform: translate(142px, 33px);
  }

  50% {
    background-color: $color-figma-ruler;
    height: 39px;
    transform: translate(142px, 33px);
  }

  67% {
    background-color: $color-figma-ruler;
    height: 34px;
    transform: translate(142px, 33px);
  }

  75% {
    background-color: $color-figma-ruler;
    height: 34px;
    transform: translate(142px, 33px);
  }

  84% {
    background-color: $color-figma-line;
    height: 72px;
    transform: translate(20px, -50%);
  }

  100% {
    background-color: $color-figma-line;
    height: 72px;
    transform: translate(0, -50%);
  }
}

@keyframes padding {
  0% {
    padding-bottom: 32px;
    padding-left: 40px;
  }

  16% {
    padding-bottom: 32px;
    padding-left: 60px;
  }

  33% {
    padding-bottom: 32px;
    padding-left: 60px;
  }

  50% {
    padding-bottom: 40px;
    padding-left: 60px;
  }

  67% {
    padding-bottom: 32px;
    padding-left: 60px;
  }

  84% {
    padding-bottom: 32px;
    padding-left: 60px;
  }

  100% {
    padding-bottom: 32px;
    padding-left: 40px;
  }
}

@keyframes rain {
  0% {
    transform: skew(-7deg) translateY(0);
  }

  100% {
    transform: skew(-7deg) translateY(75px);
  }
}

@keyframes pulse1 {
  0% {
    clip-path: polygon(55% 34%, 79% 57%, 95% 78%, 79% 100%, 21% 100%, 9% 78%, 23% 57%);
  }

  50% {
    clip-path: polygon(56% 25%, 79% 54%, 94% 72%, 79% 100%, 21% 100%, 9% 74%, 23% 55%);
  }

  100% {
    clip-path: polygon(57% 0, 83% 41%, 94% 67%, 79% 100%, 21% 100%, 8% 64%, 24% 45%);
  }
}

@keyframes pulse2 {
  0% {
    clip-path: polygon(41% 45%, 65% 65%, 78% 80%, 70% 100%, 27% 100%, 14% 78%, 25% 65%);
  }

  50% {
    clip-path: polygon(45% 33%, 66% 56%, 79% 71%, 70% 100%, 27% 100%, 15% 74%, 23% 58%);
  }

  100% {
    clip-path: polygon(47% 24%, 68% 51%, 80% 65%, 70% 100%, 27% 100%, 15% 71%, 23% 53%);
  }
}


@keyframes pulse3 {
  0% {
    clip-path: polygon(47% 52%, 66% 67%, 73% 83%, 64% 100%, 36% 100%, 28% 85%, 34% 69%);
  }

  50% {
    clip-path: polygon(54% 45%, 66% 65%, 72% 84%, 64% 100%, 36% 100%, 31% 85%, 33% 68%);
  }

  100% {
    clip-path: polygon(44% 43%, 61% 60%, 72% 82%, 64% 100%, 36% 100%, 29% 88%, 33% 70%);
  }
}

@keyframes ears {
  0% {
    transform: translateY(25px);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(25px);
  }
}

@keyframes bug-shatter {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(0.9) rotate(-10deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rolling-out {
  0% {
    left: -300px;
    top: -100px;
    transform: translateX(0) rotate(0);
  }

  100% {
    left: 50%;
    top: 220px;
    transform: translateX(-50%) rotate(360deg);
  }
}